{% extends "base.html" %}

{% block title %}dice-cvn{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Second Roll - webgame blueprint</h2>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm">
      <p class="font-weight-bolder"> --- ONE ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- TWO ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- THREE ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- FOUR ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- FIVE ---</p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[0])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[1])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[2])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[3])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[4])}}" width="100" height="100"/>
      </div>
  </div>
</div>


<a class="btn btn-danger" href="/exit_game">Exit Game</a>

{% endblock %}
