{% extends "base.html" %}

{% block title %}dice-cvn{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">{{ web_turn_label }} Roll:</h2>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>
<br>
  <div class="container">

    <div class="row">
      <div class="col-sm">
      <p class="font-weight-bolder"> --- ONE ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- TWO ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- THREE ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- FOUR ---</p>
      </div>
      <div class="col-sm">
      <p class="font-weight-bolder">--- FIVE ---</p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[0])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[1])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[2])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[3])}}" width="100" height="100"/>
      </div>

      <div class="col-sm">
      <img class="img1" src="{{url_for('static', filename=png_list[4])}}" width="100" height="100"/>
      </div>
  </div>
</div>

<br>

{% if web_turn_label in ['First', 'Second'] %}

  <div class="container">

  <h4>Dice to Keep:</h4>

  <form method="POST">

    <div class="form-check-inline">
      {{ dice_hold_web_form.hidden_tag() }}
       {{ dice_hold_web_form.die1(class="form-check-input") }}     {{ dice_hold_web_form.die1.label }}
       {{ dice_hold_web_form.die2(class="form-check-input") }}     {{ dice_hold_web_form.die2.label }}
       {{ dice_hold_web_form.die3(class="form-check-input") }}     {{ dice_hold_web_form.die3.label }}
       {{ dice_hold_web_form.die4(class="form-check-input") }}     {{ dice_hold_web_form.die4.label }}
       {{ dice_hold_web_form.die5(class="form-check-input") }}     {{ dice_hold_web_form.die5.label }}
    </div>
    <br><br>
    <div>
      {{ dice_hold_web_form.roll_dice(class="btn btn-primary")}}
    </div>

  </form>
  </div>

  <br>

  <div class="container">

        <a class="btn btn-primary" href="/not_a_url">Keep All Dice - Placeholder</a>

  </div>

  <br>
  <br>

  {% else %}

    <br>
    <div class="container">
          <a class="btn btn-success" href="score_display_and_select">Select Score Category</a>
    </div>

    <br><br>


{% endif %}

<div class="container">
<a class="btn btn-danger" href="/exit_game">Exit Game</a>
</div>


{% endblock %}
