{% extends "base.html" %}

{% block title %}dice-cvn{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Show score and make category selection</h2>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>

<div class="container">

<h3>{{ scorepad }}</h3>

</div>


<br><br>

<div class="container">
<a class="btn btn-danger" href="/exit_game">Exit Game</a>
</div>

{% endblock %}
