{% extends "base.html" %}

{% block title %}dice-cvn{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">

    {% if display_flag == 'SELECT' %}
    <h4 class="display-4">Make category selection</h4>
    {% elif display_flag == 'UPDATED' %}
    <h4 class="display-4">Updated score</h4>
    {% elif display_flag == 'END_OF_GAME' %}
    <h4 class="display-4">Thanks for playing! Your final score is {{ scorepad.grand_total() }}.</h4>
    {% else %}
    <h4 class="display-4">*** Score Updated ERROR ***</h4>
    {% endif %}
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>

<br>

<div class="container">

{% if display_flag == 'SELECT' or display_flag == 'UPDATED' %}
  <div class="row">
    <div class="col-sm">
    <p class="font-weight-bolder"> --- ONE ---</p>
    </div>
    <div class="col-sm">
    <p class="font-weight-bolder">--- TWO ---</p>
    </div>
    <div class="col-sm">
    <p class="font-weight-bolder">--- THREE ---</p>
    </div>
    <div class="col-sm">
    <p class="font-weight-bolder">--- FOUR ---</p>
    </div>
    <div class="col-sm">
    <p class="font-weight-bolder">--- FIVE ---</p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm">
    <img class="img1" src="{{url_for('static', filename=png_list[0])}}" width="100" height="100"/>
    </div>

    <div class="col-sm">
    <img class="img1" src="{{url_for('static', filename=png_list[1])}}" width="100" height="100"/>
    </div>

    <div class="col-sm">
    <img class="img1" src="{{url_for('static', filename=png_list[2])}}" width="100" height="100"/>
    </div>

    <div class="col-sm">
    <img class="img1" src="{{url_for('static', filename=png_list[3])}}" width="100" height="100"/>
    </div>

    <div class="col-sm">
    <img class="img1" src="{{url_for('static', filename=png_list[4])}}" width="100" height="100"/>
    </div>
</div>
</div>

<br>

{% endif %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      UPPER SECTION
    </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      Ones:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_ones }}
    </div>
    <div class="col-sm">
      Fours:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_fours }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Twos:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_twos }}
    </div>
    <div class="col-sm">
      Fives:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_fives }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Threes:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_threes }}
    </div>
    <div class="col-sm">
      Sixes:
    </div>
    <div class="col-sm">
      {{ scorepad.upper_sixes }}
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      TOTAL
    </div>
    <div class="col-sm">
      {{ scorepad.upper_section_total() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      BONUS (if total is 63 or more)
    </div>
    <div class="col-sm">
      {{ scorepad.upper_section_bonus_calc() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      UPPER SECTION TOTAL
    </div>
    <div class="col-sm">
      {{ scorepad.upper_section_total_and_bonus() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>

<br>

<!----------------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-sm">
      LOWER SECTION
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Three of a Kind:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_kind_three_of }}
    </div>
    <div class="col-sm">
      Small Straight:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_straight_small }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Four of a Kind:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_kind_four_of }}
    </div>
    <div class="col-sm">
      Large Straight:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_straight_large }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Full House:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_full_house }}
    </div>
    <div class="col-sm">
      Total all dice:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_all_dice }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      Five of a Kind:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_kind_five_of }}
    </div>
    <div class="col-sm">
      Five of a Kind Bonus Count:
    </div>
    <div class="col-sm">
      {{ scorepad.lower_bonus_count }}
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      LOWER SECTION TOTAL
    </div>
    <div class="col-sm">
      {{ scorepad.lower_section_total() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      UPPER SECTION TOTAL
    </div>
    <div class="col-sm">
      {{ scorepad.upper_section_total_and_bonus() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      GRAND TOTAL
    </div>
    <div class="col-sm">
      {{ scorepad.grand_total() }}
    </div>
    <div class="col-sm">
      <!-- placeholder -->
    </div>
    <div class="col-sm">
            <!-- placeholder -->
    </div>
</div>
</div>
<!----------------------------------------------------------------------------->
<br>

{% if display_flag == 'SELECT' %}

<div class="container">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for _ in menu_list %}
    <a class="dropdown-item" href="update_scorepad/{{ _[0] }}">{{ _[1] }}</a>
    {% endfor %}
  </div>
</div>
</div>

{% elif display_flag == 'UPDATED' %}

<div class="container">
<a class="btn btn-primary" href="/webgame/next_turn">Next Roll</a>
</div>

{% elif display_flag == 'END_OF_GAME' %}

{% else %}

<h2>*** ERROR ***</h2>

{% endif %}

<br>
<div class="container">
<a class="btn btn-danger" href="exit_game">Exit Game</a>
</div>

{% endblock %}
